<h1>All Park and Ride Locations</h1>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<ul>
  <% @pars.each do |par| %>
    <li>
      <%= link_to par.name, par_path(par) %>  
      (<%= par.latitude %>, <%= par.longitude %>)
    </li>
  <% end %>
</ul>

<%= link_to "Add New Location", new_par_path %>
